node_modules/
.env
firebase-service-account.json
*.log
.DS_Store
build/
ejunk_flutter/build/
ejunk_flutter/.dart_tool/
ejunk_flutter/ios/Flutter/Flutter.framework
ejunk_flutter/ios/Flutter/Flutter.podspec
ejunk_flutter/ios/Flutter/Generated.xcconfig
ejunk_flutter/ios/Flutter/app.framework
ejunk_flutter/ios/Pods
ejunk_flutter/ios/Podfile.lock
ejunk_flutter/.flutter-plugins
ejunk_flutter/.flutter-plugins-dependencies
ejunk_flutter/packages
ejunk_flutter/symlink_packages
ejunk_flutter/Flutter/Flutter.framework

